* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cuprum, sans-serif;
  font-size: 16px;

}
nav.top2, footer, .pop, .pop::after, .company-contacts, .services, .overflow-deliveri, .btns-deliveri, .btns-deliveri::after, .service, .line-top::after, .vendors {
  content: '';
  clear: both;
  display: block;
  float: left;
}
nav.top li:last-child-child {
  float: right;
  margin-right: 0;
}
nav.top2 {
  width: 940px;
  margin-left: 10px;
  background-color: #32425c;
  box-shadow: #293449 0 5px;
}
.container {
  width: 960px;
  margin: auto;
}
h1 {
  color: #e9292a;
  padding: 50px 0 0 47px;
}
h1 p{
  font-family: Cuprum-Italic, sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
h2 {
  margin: 25px 0 0 25px;
  font-family: Cuprum-Bold, sans-serif;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}
div.sliderbox span {
  font: 18px PTSans,Cuprum,sans-serif;
  margin: 0 0 0 25px;
  display: block;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
}
h4 {
  color: #32425c;
  font-size: 36px;
  text-transform: uppercase;
}

.col2 {
  width: 140px;
}
.row160 {
  height: 160px;
}
.row42 {
  height: 43px;
}
address {
  padding-top: 55px;
  font-size: 14px;
  color: #32425c;
  font-style: normal;
}

.tel {
  color: #e9292a;
  font-size: 21px;
  text-decoration: none;
}

.tel img {
  margin: 0 28px 0 0;
}

button.header {
  text-align: center;
  font-size: 21px;
  border: none;
  background: none;
}
button.header:hover {
color: #ee3643;
}
button.header:active {
color: #dbdbdb;
}
button img {
  margin: 0 20px;
}

.top2 li{
  width: inherit;
  height: 57px;
  text-transform: capitalize;
  padding: 23px 18px 0 47px;
}
.top2 li:hover {
  background: #1d2739;
}
.top2 li:active {
  opacity: 0.3;
}
@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/web/cuprum.woff2) format('woff2'), url(../fonts/web/cuprum.woff) format('woff'), url(../fonts/Cuprum/Cuprum-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum-Bold';
  src: url(../fonts/web/cuprumbold.woff2) format('woff2'), url(../fonts/web/cuprumbold.woff) format('woff'), url(../fonts/Cuprum/Cuprum-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum-Italic';
  src: url(../fonts/web/cuprumitalic.woff2) format('woff2'), url(../fonts/web/cuprumitalic.woff) format('woff'), url(../fonts/Cuprum/Cuprum-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url(../fonts/web/cuprumbolditalic.woff2) format('woff2'), url(../fonts/web/cuprumbolditalic.woff) format('woff'), url(../fonts/Cuprum/Cuprum-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url(../fonts/web/ptsans.woff2) format('woff2'), url(../fonts/web/ptsans.woff) format('woff'),  url(../fonts/ptsans/PTS55F.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url(../fonts/web/ptsansbold.woff2) format('woff2'), url(../fonts/web/ptsansbold.woff) format('woff'),  url(../fonts/ptsans/PTS56F.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
.line-top {
  width: 100%;
  height: 43px;
  background-color: #293449;
  /*position: relative;*/
}
.col4 {
  width: 300px;
}
.row123 {
  height: 123px;
}
.promo div {
  display: block;
  float: left;
}
.col4 {
  margin: 10px;
}
.slider {
  margin: 10px;
  width: 620px;
  height: 270px;
  overflow: hidden;
  position: relative;
}
.slider img {
  position:absolute;
  top: 83px;
  z-index: 99;
}
img.slider-dots1, img.slider-dots2 {
  left: 50%;
  top: 187px;
}
img.slider-dots1 {
  left: 50%;
transform: translate(19px);
}
img.iconleft-slider {
  left: 23px;
}
img.iconlright-slider {
  right: 0px;
}
.sliderbox {
  margin: 0;
  display: block;
  width: 1300px;
  height: 270px;

}
.sliderbox div {
  margin: 0;
  width: 620px;
  height: 266px;
}
.sliderbox button {
  width: 196px;
  height: 40px;
  margin: 110px 0 0 25px;
}
#logo-top {
  display: block;
  float: left;
  width: 220px;
  height: 42px;
  font-size: 24px;
  padding-top: 10px;
  margin-left: 10px;
    /*position: absolute;
    top: 0;
    left: 50%;
  transform: translate(-470px);*/
}
.search {
  opacity: 50%;
}
ul img {
  margin: 0 10px;
}
nav.top {
  width: 960px;
  margin: auto;
  color: #fff;

    /*position: absolute;
    top: 0;
    left: 50%;
  transform: translate(-240px);*/
}
li {
  list-style: none;
  float: left;
  color: #fff;
}
nav.top li {
  margin: 0;
  padding: 13px 10px;
}
nav.top li:hover {

}

nav.top li.col2:last-child {
  margin-left: 0;
  width: 150px;
  background-color: #63a63e;
  text-align: center;
}
nav.top li.col2:last-child:hover {
  background-color: #5fbb2d;
}
nav.top li:active {
  opacity: 0.7;
}
nav.top input {
  width:  183px;
  border: none;
  background-color: #293449;
  float: left;
  margin: 12px 10px;
}
top2.li:hover {
  background: #293449;
}
top2.li:active {
  background: #1d2739;
  color: #a6a8ad;
}

.header {
  display: block;
  float: left;
  margin: 0 10px;
}
section.promo {
  margin-top: 121px;
  float: left;
  color: #fff;
}
.promo div img {
  padding: 30px 23px 0 0;
  float: right;
}
.col4 span {
  margin: 23px 0 0px 23px;
  font: 24px Cuprum-Bold, sans-sherif;
  text-transform: capitalize;
  width: 141px;
  height: 41px;
  float: inherit
}
.col4 button {
  margin-left: 25px;
  width: 137px;
  height: 38px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.promo1 {
  background: #f6b22d url(../img/newflag.png) no-repeat right top;
}
.promo button {
  background: rgba(153, 153, 153, 0.5);
}
.promo button:hover {
  background: rgba(153, 153, 153, 0.8);
  outline: none;
}
.promo button:active {
  background: #b2b2b2;
  outline: none;
}
.promo2 {
  background: #4aafde;
}
.promo3 {
  background: #cc79d1;
}
.promo4 {
  background: #85d179;
}
.promo5 {
  background: #f6b22d;
}
#slider1 {
  background: url(../img/slider1.png) no-repeat;
}
/*популярные товары*/
.pop {
  float: left;
  margin: 55px 10px 10px 10px;
  width: 940px;
  height: 91px;
  background: #f7f3ec;
  color: #32425c;
  text-transform: uppercase;
}
.pop span {
  display: block;
  float: left;
 font-size: 30px;
 margin: 23px;
}
.pop button {
  margin: 23px;
  width: 254px;
  height: 38px;
  float: right;
  font-size: 14px;
}
.item {
  margin: 10px;
  width: 220px;
  height: 318px;
  float: left;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  text-align: center;
}
#item4 {
  background: url(../img/newflag.png) no-repeat right top;
}
.name-item{
  padding: 10px 33px 10px 33px;
  font: 18px "Myriad Pro",sans-serif;
}
.item span {
  text-transform: uppercase;
}
.old-price {
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
  font: 17px PTSans,sans-serif;
}
.old-price-none {
  height: 22px;
}
.new-price {
  color: #fff;
  font: 18px "Myriad Pro",sans-serif;
  text-transform: uppercase;
}
.triangle-right {
  margin-top: 10px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 20px solid #ee3643;
  border-bottom: 19px solid transparent;
  float: left;
}
.block-new-price{
  margin: 10px 0 0 43px;
  padding-top: 10px;
  width: 121px;
  height: 38px;
  background: #ee3643;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}
.col3 {
  display: block;
  float: left;
  margin: 10px;
  width: 218px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.row143 {
  height: 143px;
}
.service {
  width: 100%;
  height: 520px;
  background: #f2f6f8;
}
.services {
  width: 940px;
  height: 228px;
  padding: 65px 0 0 10px;
}
.services p, .deliveri p, .about-company p, .contacts p {
  font: 13px PTSans,sans-serif;
  line-height: 25px;
}
.services h3 {
 padding-bottom: 30px;
}
.overflow-deliveri {
  /*overflow: hidden;*/
  width: 240px;
  height: 236px;
}
.btns-deliveri{
  width: 250px;
  height: 244px;
  padding: 40px 0 0 10px;
   box-shadow: -23px 0px 21px -24px #969696 inset;
}
.btns-deliveri button {
  padding: 20px;
  width: 240px;
  height: 60px;
  border-radius: 0;
  box-shadow: -23px 2px 21px -24px #969696 inset;
  text-align: left;
  border: none;
  outline: none;
}
.btns-deliveri button.white {
  background: #fff;
  color: #32425c;
  font: 21px Cuprum-Bold,sans-serif;
  text-transform: capitalize;
}
.btns-deliveri button.dark {
  background: #32425c;
  color: #fff;
  font: 21px Cuprum-Bold,sans-serif;
  text-transform: capitalize;
  border-top: 1px solid #293449;

}
.service .container {

  height: 521px;
  background:  url(../img/truck.png) no-repeat right bottom;
}
.deliveri {
  width: 360px;
  height: 260px;
  float: left;
  padding: 40px 0 0 80px;
}
.col8 {
  width: 600px;
  margin: 10px;
}
.about-company, .contacts {
  height: 540px;
  float: left;
  padding-top: 70px;
}
.contacts {
  width: 300px;
}
.about-company li {
  color: #000;
  float: none;
  font-size: 18px;
  padding: 10px;
}
.about-company span {
  color: #ee3643;
  font-weight: bold;
}
.about-company p, .contacts p {
  margin-bottom: 20px;
}
.about-company button {
  width: 220px;
  height: 40px;
  font-size: 14px;
  margin-top: 22px;
}
.about-company h3, .contacts h3 {
  padding-bottom: 35px;
}

.contacts button {
  width: 300px;
  height: 40px;
  font-size: 14px;
  margin-top: 10px;
}
.contacts p {
  width: 177px;
}
#map {
  margin: 10px 0 40px;
}
.company-contacts {
  width: 960px;
  height: 540px;
}
.logo {
  color: #fff;
  text-transform: uppercase;
  box-shadow: #b52933 0 5px;
  background: #ee3643;
  text-align: center;
}
.logo:hover {
  box-shadow: #9a212a 0 5px;
  background: #ca2c37;
}
.logo:active {
  box-shadow: #8e1e26 0 5px;
  background: #ba2732;
}

#logo-bottom {
  width: 220px;
  height: 64px;
  font-size: 24px;
  padding-top: 22px;
}
footer {
  width: 100%;
  height: 194px;
  background: #32425c;
  box-shadow: #293449 0 107px;
  color: #fff;
}
.footer-left {
  width: 380px;
  height: 301px;
  margin-left: 10px;
}
footer address, footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-bottom: 60px;
}
footer nav, .footer-left, footer li, footer img, footer p {
  display: block;
  float: left;
}
footer li {
  font-size: 18px;
  text-transform: capitalize;
}
footer nav ul.nav1-fotter li {
  color: #fff;
  padding-left: 40px;
}
footer nav ul.nav2-fotter li {
  margin-top: 15px;
  margin-bottom: 50px;
  color: #ffd180;
  padding-left: 33px;
}
ul.nav2-fotter{
  margin-left: 30px;
}
footer nav {
  width: 545px;
  height: 160px;
  margin: 35px 0 0 25px
}
footer img {
  margin: 77px 2.5px 0 2.5px;
}
footer p {
  font-size: 16px;
  width: 280px;
}
footer a {
  color: #ffd180;
  font-size: 16px;
}
footer nav div {
  margin: 46px 0 0 35px;
}
footer nav div p {
  margin: 80px 1px 0 72px;
  width: 98px;
}
button.btn:hover {
  background: #ca2c37;
}
button.btn:active {
  background: #ba2732;
}
button.btn {
  border: none;
  outline: none;
  border-radius: 3px;
  background: #ee3643;
  color: #fff;
  text-transform: uppercase;
}
.hidden button {
  width: 135px;
  height: 37px;
  outline: none;
  text-transform: uppercase;
  border: none;
  margin: 10px;
}
button.green {
  color: #fff;
  width: 135px;
  height: 37px;
  background: #63a63e;
  box-shadow: #367315 0 2px;
}
button.green:hover {
  background: #5fbb2d;
  box-shadow: #367315 0 2px;
}
button.green:active {
  background: #518534;
}
button.green-border {
  background: #fff;
 border: 4px solid #63a63e;
}
button.green-border:hover {
  border: 4px solid #32425c;
}
button.green-border:active {
  border: 4px solid #c1c6ce;
  color: #c1c6ce;
}
.show {
visibility: hidden;
display: none;
}
.hidden {
  width: 184px;
  height: 164px;
  padding: 31px;
}
